/* =====================================================
   AG PORTFOLIO
   File        : responsive.css
   Version     : v1.0.0
===================================================== */

/* ===========================
   Laptop
=========================== */

@media (max-width:1200px){

}

/* ===========================
   Tablet
=========================== */

@media (max-width:992px){

}

/* ===========================
   Mobile
=========================== */

@media (max-width:768px){

    section{

        padding-block:70px;

    }

}

/* ===========================
   Small Mobile
=========================== */

@media (max-width:480px){

}