/* ==========================================
   Large Screens
========================================== */

@media (max-width:1200px){

}

/* ==========================================
   Laptop
========================================== */

@media (max-width:992px){

    .grid-4{

        grid-template-columns:repeat(2,1fr);

    }

}

/* ==========================================
   Tablet
========================================== */

@media (max-width:768px){

    .grid-3,
    .grid-2{

        grid-template-columns:1fr;

    }

    .section{

        padding:5rem 0;

    }

}

/* ==========================================
   Mobile
========================================== */

@media (max-width:576px){

    h1{

        font-size:2.75rem;

    }

    h2{

        font-size:2rem;

    }

    .container{

        width:92%;

    }

}